[user]
	name = Fedor Alekseev
	email = feodor.alexeev@gmail.com
[core]
[color]
	ui = auto
[push]
	default = simple
[core]
	excludesfile = /home/moskupols/repos/dotfiles/.gitignore
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
